<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Were we fuse squeeders</h2>
    <ul>
      <li v-for="project in projects" v-bind:key="project.id">
        <a v-on:click="getProject(project.id)">{{project.name}}</a>
      </li>
    </ul>
    <div v-if="projectDetails.id">
      <span>{{projectDetails.name}}</span>
    </div>
  </div>

</template>

<script>

import {APIService} from '../apiService.js'

const API = new APIService()

export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Squeed-Fuse',
      projects: [],
      projectDetails: {}
    }
  },
  created () {
    this.getAllProjects()
  },
  methods: {
    getAllProjects: async function () {
      this.projects = await API.getProjects().then(response => response.data)
    },
    getProject: async function (id) {
      this.projectDetails = await API.getProject(id).then(response => response.data)
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
